/*! purgecss start ignore */

@import 'node_modules/the-new-css-reset/css/reset';
@import 'node_modules/normalize.css/normalize';

a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;

  &:hover {
    color: fuchsia;
  }
}